:root {
  --background: #efefef;
  --shadow: #ccc;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#todoList {
  width: 100%;
  padding: 0px 10%;
  margin: 50px 0px 100px 0px;
  display: grid;
  grid-row-gap: 20px;
}

#todoList li {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background: white;
  font-size: 20px;
  box-shadow: 1px 1px 10px var(--shadow);
  border-radius: 10px;
}

#todoList li button {
  background: none;
  position: absolute;
  right: 0px;
  height: 50px;
  width: 50px;
}

.button-area {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20%;
}

.avatar {
  width: 100%;
  height: 150px;
  background-image: url("./../images/Backgrond.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#date {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: white;
}